<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>INSE6260.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>INSE6260.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer</servlet-name>
        <servlet-class>INSE6260.Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Expertise</servlet-name>
        <servlet-class>INSE6260.Expertise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tasks</servlet-name>
        <servlet-class>INSE6260.Tasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Invitations</servlet-name>
        <servlet-class>INSE6260.Invitations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer</servlet-name>
        <url-pattern>/Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Expertise</servlet-name>
        <url-pattern>/Expertise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tasks</servlet-name>
        <url-pattern>/Tasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Invitations</servlet-name>
        <url-pattern>/Invitations</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
